#chat {
  width: 60%;
  height:80vh;
  margin-right:auto;
  margin-left:auto;
  background-color: gray;
  overflow: scroll;
  font-family: 'Rajdhani', sans-serif;
}

.writeandsend {
  position:fixed;
  width: 60%;
  height:5vh;
  left:20%;
  font-size: 15px;
  float: left;
  font-family: 'Rajdhani', sans-serif;
}

#message {
  width:79%;
  font-size: 15px;
  height:5vh;
  float: left;
  font-family: 'Rajdhani', sans-serif;
}

#send {
  width:17%;
  height:5vh;
  float: left;
  font-size: 15px;
  font-family: 'Rajdhani', sans-serif;
}

.givemeaname {
  position: absolute;
  width:18%;
  top:100px;
  font-size: 15px;
  font-family: 'Rajdhani', sans-serif;
}

#name {
  width: 100%;
  font-size: 15px;
  font-family: 'Rajdhani', sans-serif;
}

#selectname {
  width: 100%;
  margin-right:auto;
  margin-left:auto;
  font-size: 15px;
  font-family: 'Rajdhani', sans-serif;
}
/* ©Javi */
